body {
    background-image: linear-gradient(#7CFFCB, #ffdab9, #ffd3e8, #84d9ff);
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    letter-spacing: 0.02em;
    margin-top: 1%;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2vw;
}

#logo {
    max-width: 4em;
}

#logo img {
    max-width: 100%;
}

footer {
    margin-top: 5%;
}

#dropdown ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px white solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#dropdown li {
    list-style-type: none;
}

label {
    background-color:plum;
    display: block;
    padding: 24px;
    cursor: pointer;
    border-radius: 20px;
    white-space: nowrap;
    font-size: 2.1vw;
    font-weight:bolder;
}

label:hover {
    background-color:#E41B43;
}

nav {
    display: inline-block;
    position: relative;
    margin-left: auto;  
}

article, .pic, .top, label {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dropdown {
    display: none;
    position: absolute;
    min-width: 200px;
    right: 0;
    z-index: 1; 
}

[type=checkbox] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

[type=checkbox]:checked ~ #dropdown{
    display: block;
}

nav:hover #dropdown {
    display: block;
}

#dropdown a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    display: block;
    background-color: #84d9ff;
    white-space: nowrap;
}

#dropdown a:hover {
    background-color: lightskyblue;
}

#dropdown .active {
    background-color: yellow;  
}

.content {
    display: grid;
    grid-template-areas: 
    "fi pc1"
    "se pc2"
    "th pc3";
    margin: 4%;
    margin-top: 2%;
    row-gap: 2%;
    font-size: 1.5vw;
    max-width: 100%;
    height: 100%;
    padding-bottom: 3%;
}

h2 {
    margin: 0;
}

p:not(.bottom) {
    margin-top: 0;
    margin-bottom: 0;
}

article {
    background-color: rgba(224, 255, 255, 0.7);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    font-size: 2vw;
    min-width: 0;
    max-width: 200%;
}

[class^="pcon"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    max-width: 90%;
}

.pcon1 {
    grid-area: pc1;
}

.pcon2 {
    grid-area: pc2;
}

.pcon3 {
    grid-area: pc3;
}

.pic {
    transition: transform .2s;
    border-radius: 10px;
    border: 2px solid white;
    min-width: 0;
}

.pic:nth-child(odd) {
    transform: rotateZ(-7deg);
}

.pic:nth-child(even) {
    transform: rotateZ(7deg); 
}

.pic:nth-child(odd):hover {
    transform: scale(1.3) rotate(-7deg);
    z-index: 1;
}

.pic:nth-child(even):hover {
    transform: scale(1.3) rotate(7deg);
    z-index: 1;
}

.first {
    grid-area: fi;
}

.second {
    grid-area: se;
}

.third {
    grid-area: th;
}

table {
    display: table;
    background-image: linear-gradient(130deg, yellow, orange, lightblue);
    font-size: 1.5vw;
    max-width: 50%;
    border-spacing: 0;
    overflow: hidden;
}

tr:nth-child(even) {
    background-image: linear-gradient(230deg, lightblue, violet, aqua);
}

th {
    border-bottom: white solid 2px;
    white-space: nowrap;
}

th:first-of-type, td:first-child {
    border-right: white solid 2px;
} 

html {
    scroll-behavior: smooth;
}

.top {
    place-self: end;
    display: none;
    padding: 10px;
    text-decoration: none;
    background-color: lightgreen;
    border-radius: 10px;  
}

#comments {
    margin: 4%;
    margin-top: 0;
}

#comments a {
    text-decoration: none;
    font-weight: bold;
}

#comments a:hover, .top:hover {
    color:#E41B43;
}

#comments article {
    max-width: 100%;
    margin: 3%;
    padding: 3%;
}

h3, h4, section, #comments ul {
    margin: 0;
}

#tech section, #ae section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {    
    max-width: 250px;
}

.img img {
    max-width: 90%;
}

table.img {
    max-width: 80%;
    font-size: medium;
    border: white solid 2px;
    border-radius: 10px;
    font-size: 80%;
}
    
div.img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    max-height: 200px;
    max-width: 150px;
    gap: 3%;
}

#comments img {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px white solid;
}

span:not(.break) {
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (max-width: 768px) {
    body {
        margin: 0.5%;
    }

    ul {
        padding-left: 5%;
    }

    article li {
        list-style-type: circle;
    }

    #comments .img {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .top {
        display: block;
    }

    footer {
        display: grid;
        grid-template-columns: auto auto;        
    }
    
    span.break {
        display: block;
    }
}


@media screen and (max-width: 500px) {
    body {
        margin: 0;
    }

    header, .content, article {
        font-size: 95%;
    }

    h1 {
        text-align: center;
    }

    #dropdown {
        position: relative;
        display: block;
    }

    nav {
        width: 100%;
        background-image: linear-gradient(90deg, #7CFFCB, #ffdab9, #ffd3e8, #84d9ff, #7CFFCB);
    }

    #dropdown a {
        border-bottom: lightblue 2px solid;
        background-color: transparent;
    }

    #dropdown li:first-child a {
        border-top: lightblue 2px solid;;
    }

    #dropdown ul {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #logo {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    
    .pic {
        pointer-events: none;
        z-index: 0;
        max-width: 40%;
    }

    [class^="pcon"] {
        max-width: 100%;
    }

    #down, label {
        display: none;
    }

    div.img {
        display: flex;
        flex-direction: column;
        max-height: none;
        justify-content: flex-start;
    }

    .img img {
        max-height: 150px;
    }
}


@media screen and (min-width: 768px) {
    article {
        font-size: 1.65vw;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    #dropdown {
        display: none;
        position: relative;
        min-width: 160px;
    }

    #dropdown ul {
        display: flex;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    #dropdown li {
        display: inline;
    }

    #dropdown a {
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
        border-radius: 20px; 
        background-color: transparent;
    }
}
